@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-family: "PT Sans";
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  min-height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  flex: 1 0 auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

/*стилизацая меню*/
.navigation-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 3px 9px;
  cursor: pointer;
  border: solid 3px transparent;
  border-radius: 10px;
}

.page-header-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 71px;
  padding-right: 72px;
}
.navigation-link .open-favorites {
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
}
.navigation-item-current-page {
  position: relative;
}
.navigation-item.navigation-item-current-page::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 12px;
  width: calc(100% - 22px);
  border-bottom: solid 2px #756257;
}
.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 0;
  margin: 0;
}
.navigation-logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  outline: none;
  cursor: pointer;
}

.navigation-item + .navigation-item {
  margin-left: 9px;
}
.navigation-item {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: -12px;
}
.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-user-item {
  margin-top: -4px;
}
.navigation-user-search {
  margin-right: -3px;
}
.navigation-user-item-favorites {
  margin-right: 21px;
}
.block-container {
  position: relative;
}
.icon {
  vertical-align: middle;
}

.navigation-user-item-favorites {
  position: relative;
}
.favorites-amount {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.94px;
  color: #ffffff;
  background-color: #7db54f;
  border: solid 4px #7db54f;
  border-radius: 50%;
  position: absolute;
  left: 24px;
  bottom: 16px;
}
.add-to-favorites-icon {
  position: absolute;
}

.open-favorites {
  width: 160px;
  height: 37px;
  padding: 10px 16px;
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: -2px;
}
.navigation-link:hover {
  color: #756257;
  fill: #756257;
}
.navigation-link:focus-visible {
  border-color: #83b3d3;
  color: #756257;
  fill: #756257;
  outline: none;
}
.navigation-link:active {
  opacity: 0.3;
}
/*PROMO*/

.logo-big-container {
  box-sizing: border-box;
  height: 485px;
  padding-top: 50px;
  background: url(../img/background/divider.svg) 50% 100% no-repeat,
    url(../img/background/index-background.jpg) no-repeat;
  background-size: 100%, cover;
  background-color: #e5e5e5;
}
.logo-big {
  display: block;
  margin: 0 auto;
}
.promo {
  padding-top: 62px;
  max-width: 720px;
  margin: 0 auto;
}
.promo-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 34px;
}
.promo-five-reason {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  margin-bottom: 80px;
}
.button {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
}
.open-favorites-button:hover {
  background-color: #615048;
}
/* список преимуществ */

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item:first-child {
  background-color: #83b3d3;
}
.advantages-item:nth-child(2) {
  background-color: #83b3d3;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages-items-details {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
}
.advantage-with-img {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  background-color: #83b3d3;
}
.advantages-item-selected {
  grid-area: 1/1/3/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.img-street {
  grid-column: 2/4;
}
.advantages-text-block {
  flex: 1 0 auto;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-top: 96px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
}

.advantages-item-details {
  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-top: 161px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item-details:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 28px;
}
.advantages-items-details-icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.advantages-items-details-icon.house {
  width: 76px;
  height: 72px;
  top: 90px;
}
.advantages-items-details-icon.food {
  height: 74px;
  height: 70px;
  top: 92px;
}
.advantages-items-details-icon.souvenir {
  width: 64px;
  height: 76px;
  top: 86px;
}

.black-text {
  color: #000000;
}
.white-text {
  color: #ffffff;
}
.advantages-items-details {
  color: #333333;
  background-color: #ffffff;
}
.advantages-item-details-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 23px;
  margin-top: 0;
  margin-bottom: 20px;
}
.advantages-item-details-description {
  margin: 0;
}

.advantages-number {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}
.advantages-description {
  margin: 0 auto;
}
/*секция поиска*/
.hotel-search {
  padding-top: 87px;
}
.hotel-search-title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.hotel-search-description {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 59px;
  font-size: 22px;
  line-height: 26px;
}
.hotel-search-button {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  height: 60px;
}
.hotel-search-button:hover {
  background-color: #615048;
}
/*подписка*/
.subscription {
  background-image: url(../img/background/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #83b3d3;
  padding: 93px 0;
}
.subscription-title {
  max-width: 720px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}
.subscription-description {
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 46px;
}
.subscription-form {
  display: flex;
  justify-content: center;
}
.subscription-button {
  font-family: "PT Sans", sans-serif;
  width: 200px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.subscription-button:hover {
  background-color: #68a2ca;
}
.subscription-button:focus-visible {
  box-shadow: inset 0 0 0 3px #756257;
}
.subscription-field {
  font: inherit;
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  line-height: 26px;
  background-color: #f2f2f2;
  outline: none;
  margin: 0;
  padding: 10px 22px;
  border: none;
  border-radius: 10px 0 0 10px;
}
.subscription-field:invalid:hover {
  background-color: #e6e6e6;
}
.subscription-field:invalid:focus-visible {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.subscription-field:valid {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}
.error {
  box-shadow: inset 0 0 0 #ff5757;
}
.subscription-field::placeholder {
  font-family: "Pt sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
}
/*footer*/
.page-footer {
  flex: 0 0 auto;
  padding-left: 61px;
  padding-right: 62px;
  padding-top: 24px;
  padding-bottom: 29px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: auto;
}
.footer-social-item + .footer-social-item {
  margin-left: 4px;
}
.footer-contacts-address {
  max-width: 720px;
  text-align: center;
  font-style: normal;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000000;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  outline: none;
  margin-top: -8px;
  margin-right: -7px;
}
.htmlacademy-link {
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
}
/*работа с катологом*/

.filters-container {
  background-image: url(../img/background/catalog-background-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  height: 408px;
  padding-top: 32px;
  box-sizing: border-box;
}
.filters-container-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  margin: 0;
  margin-bottom: -6px;
  margin-left: -1px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-left: -8px;
  margin-bottom: 41px;
}
.breadcrumbs-link {
  cursor: pointer;
}
.breadcrumbs-home-link {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 .3 0 5.8V12h12V5.8L6 .3ZM11 11H1V6.2l5-4.5 5 4.5V11Z' fill='%23fff'/%3E%3Cpath d='M4 10h1V7.5h2V10h1V6.5H4V10Z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
}
.breadcrumbs-item + .breadcrumbs-item {
  margin-left: 10px;
}
.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-home:after {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3' clip-path='url(%23clip0_5:562)'%3E%3Cpath d='M4.8 3.60005L0.999999 0.200049C0.799999 4.88311e-05 0.399999 4.88311e-05 0.0999989 0.200049C-0.200001 0.400049 -0.100001 0.800049 0.0999989 1.00005L3.4 4.00005L0.199999 7.00005C-1.11759e-06 7.20005 -1.11759e-06 7.60005 0.199999 7.80005C0.199999 7.90005 0.499999 8.00005 0.599999 8.00005C0.699999 8.00005 0.899999 7.90005 0.999999 7.80005L4.8 4.40005C5.1 4.20005 5.1 3.80005 4.8 3.60005Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5:562'%3E%3Crect width='5' height='8' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  top: 3px;
  right: -8px;
}
.catalog-fieldset {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: none;
}
.catalog-filter-list {
  padding-left: 1px;
}
.catalog-filter-item + .catalog-filter-item {
  margin-top: 12px;
}
.catalog-filter-group-infrastructure {
  margin-right: 68px;
}
.catalog-filter-group-type-house {
}
.catalog-filter-group-price > .catalog-filter-title {
  margin-bottom: 35px;
}
.control-checkbox {
  position: relative;
  padding-left: 40px;
}
.control-radio {
  position: relative;
  padding-left: 40px;
}

.control-radio-mark {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 3px transparent;
  border-radius: 50%;
}
.control-checkbox-mark {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 3px transparent;
  border-radius: 4px;
}

.control-checkbox:hover .control-checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
}
.control-input:focus + .control-checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
  border-color: #83b3d3;
}
.control-checkbox:active .control-checkbox-mark {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
}

.control-radio .control-input:checked:focus + .control-radio-mark {
  border-color: #83b3d3;
}
.control-radio .control-input:not(:checked):focus + .control-radio-mark {
  border-color: #83b3d3;
}
.control-radio:active .control-radio-mark {
  border-color: transparent;
}
.control-input:checked + .control-checkbox-mark {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M11 0 4.5 7.4 1.1 3.5 0 4.7l4.5 5.2 7.7-8.6L11 0Z' fill='%233F5E72'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12.2v9.9H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.control-input:checked + .control-radio-mark::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  left: 2px;
  top: 2px;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.catalog-filter-buttons {
  padding-top: 60px;
}
.apply-button {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 7px;
}
.reset-button {
  font: inherit;
  line-height: 23px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  background-color: transparent;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  text-transform: none;
}
.catalog-filter {
  display: flex;
  text-align: left;
  margin-left: -2px;
}

.catalog-filter-input {
  box-sizing: border-box;
  outline: none;
  width: 50%;
  font: inherit;
  color: #ffffff;
  background-color: transparent;
  border: solid 2px #ffffff;
  height: 48px;
  outline: none;
  padding-left: 16px;
  padding-right: 32px;
}
.catalog-filter-input[type="number"]::placeholder {
  color: transparent;
}
.catalog-filter-input:focus-visible {
  box-shadow: inset 0 0 0 2px #83b3d3, 0 0 0 2px #83b3d3;
  z-index: 1;
}
input#max-price {
  border-radius: 0 4px 4px 0;
}
input#min-price {
  border-radius: 4px 0 0 4px;
  padding-left: 17px;
}
.catalog-filter-group-price {
  width: 287px;
  margin: 0;
  margin-left: auto;
  margin-right: 82px;
  padding: 0;
  padding-bottom: 20px;
}
.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.price-range-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 287px;
  margin-bottom: 28px;
}
.min-price-placeholder {
  color: rgba(255, 255, 255, 0.3);

  position: absolute;
  right: 158px;
  top: 12px;
}
.max-price-placeholder {
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  right: 17px;
  top: 12px;
}

.filter-price-range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}
.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}
.toggle-min {
  top: -8px;
  left: 0px;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus-visible {
  border: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}
.sorting-container {
  display: flex;
}
.list-view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
}

.display-search-result {
  margin-left: auto;
  width: 160px;
}

.catalog-hotels {
  color: #ffffff;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
}
.control-label {
  line-height: 23px;
}

.filter-result {
  font-weight: 700;
  margin: 0;
  margin-left: -2px;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.display-search-result {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.display-search-result-item {
  margin-right: 8px;
}
.display-search-button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px #e6e6e6;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.mode-tile {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0v6h4V0ZM16 0h-4v6h4V0ZM10 0H6v6h4V0ZM4 8H0v6h4V8ZM16 8h-4v6h4V8ZM10 8H6v6h4V8Z' fill='%23000'/%3E%3C/svg%3E");
}
.mode-slideshow {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 12H0v2h16v-2ZM14 2v6H2V2h12Zm2-2H0v10h16V0Z' fill='%23000'/%3E%3C/svg%3E");
}
.mode-list {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H0v2h2V0ZM16 0H4v2h12V0ZM2 4H0v2h2V4ZM16 4H4v2h12V4ZM2 8H0v2h2V8ZM16 8H4v2h12V8ZM2 12H0v2h2v-2ZM16 12H4v2h12v-2Z' fill='%23000'/%3E%3C/svg%3E");
}
.display-search-result-item:last-child {
  margin-right: 0;
}
.display-search-button-active {
  box-shadow: inset 0 0 0 2px #000000;
}
.sorting-type {
  font: inherit;
  margin-right: 81px;
}
.select-control {
  appearance: none;
}
.sorting-type .select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  height: 48px;
  width: 287px;
  color: #333333;
  border-radius: 4px;
  border: solid 2px rgba(229, 229, 229, 1);
  padding-left: 16px;
  padding-right: 35px;
  padding-bottom: 2px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' clip-path='url(%23a)'%3E%3Cpath d='m6.6 6.7 5.1-5.3c.3-.3.3-.9 0-1.2-.3-.3-.9-.3-1.2 0L6 4.9 1.5.2C1.2-.1.6-.1.3.2.1.3 0 .6 0 .8c0 .2.1.4.3.6l5.1 5.3c.3.4.9.4 1.2 0Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v7H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 21px center;
}
.select-control:hover {
  border-color: #83b3d3;
}
.select-control:focus-visible {
  border-color: #83b3d3;
}
.select-control:active {
  opacity: 0.3;
}
.hotel-list-container {
  padding-top: 43px;
}
.hotel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -4px;
}
.hotel-card {
  display: grid;
  grid-template-columns: min-content auto auto;
  padding-top: 26px;
  padding-bottom: 28px;
  border-bottom: 1px solid #e6e6e6;
}
.hotel-card:first-child {
  border-top: 1px solid #e6e6e6;
}
.hotel-card-content-container {
  padding-right: 20px;
  text-align: left;
}
.hotel-type-price-container {
  display: grid;
  grid-template-columns: 155px 160px;
  row-gap: 31px;
  column-gap: 3px;
  text-align: start;
  padding-left: 15px;
  padding-top: 2px;
}
.hotel-card-buttons {
  display: flex;
}
.hotel-card-image {
  width: 180px;
  vertical-align: middle;
}

.hotel-card-raiting-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding-top: 7px;
}
.hotel-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: -3px;
  margin-bottom: 4px;
  padding: 4px 16px;
  border-radius: 10px;
  text-align: left;
  text-decoration: none;
  outline: none;
}
.hotel-type,
.hotel-price {
  line-height: 23px;
}

.hotel-detail-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #756257;
  width: 151px;
  height: 37px;
  line-height: 37px;
  border-radius: 4px;
  cursor: pointer;
}
.add-to-favorites-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #83b3d3;
  width: 160px;
  height: 37px;
  line-height: 37px;
  border-radius: 4px;
  cursor: pointer;
}
.in-favorites {
  background-color: #7db54f;
}
/*Звезды*/
.two-stars {
  width: 160px;
  height: 17px;
  background: url(../img/icons/star.svg) 57px 0 no-repeat,
    url(../img/icons/star.svg) 85px 0 no-repeat;
}
.three-stars {
  width: 160px;
  height: 17px;
  background: url(../img/icons/star.svg) 44px 0px no-repeat,
    url(../img/icons/star.svg) 69px 0 no-repeat,
    url(../img/icons/star.svg) 94px 0 no-repeat;
}
.four-stars {
  width: 160px;
  height: 17px;
  background: url(../img/icons/star.svg) 34px 0px no-repeat,
    url(../img/icons/star.svg) 59px 0 no-repeat,
    url(../img/icons/star.svg) 84px 0 no-repeat,
    url(../img/icons/star.svg) 107px 0 no-repeat;
}

.rating {
  font-size: 16px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  width: 160px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}
.show-more-container {
  border-bottom: solid 1px #e6e6e6;
  padding-top: 29px;
  padding-bottom: 31px;
}
.show-more {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  background-color: #83b3d3;
  width: 625px;
  height: 55px;
  padding: 0;
  border-radius: 4px;
}
.pagination-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 57px;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -2px;
}
.pagination-item {
  outline: none;
}
.pagination-item + .pagination-item {
  margin-left: 8px;
}
.pagination-link {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 20px;
  line-height: 55px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.pagination-current {
  border-radius: 4px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}
.amount-cards-on-page {
  display: flex;
  line-height: 23px;
  margin-left: auto;
  align-items: center;
}
.amount-cards-label {
  margin-right: 53px;
  font-size: 18px;
}
.amount-cards-on-page .select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  height: 48px;
  width: 160px;
  color: #333333;
  border-radius: 4px;
  border: solid 2px rgba(229, 229, 229, 1);
  padding-left: 16px;
  padding-right: 35px;
  padding-bottom: 2px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='.3' clip-path='url(%23a)'%3E%3Cpath d='m6.6 6.7 5.1-5.3c.3-.3.3-.9 0-1.2-.3-.3-.9-.3-1.2 0L6 4.9 1.5.2C1.2-.1.6-.1.3.2.1.3 0 .6 0 .8c0 .2.1.4.3.6l5.1 5.3c.3.4.9.4 1.2 0Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v7H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 21px center;
}
.amount-cards-on-page .select-control:hover {
  border-color: #83b3d3;
}
.amount-cards-on-page .select-control:focus-visible {
  border-color: #83b3d3;
}
.amount-cards-on-page .select-control:active {
  border-color: rgba(229, 229, 229, 1);
}
.subscription-catalog {
  padding-top: 28px;
  padding-bottom: 135px;
}
.subscription-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 31px;
}
.subscription-catalog-description {
  display: block;
  max-width: 475px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.subscription-catalog-form-container {
  display: flex;
  justify-content: center;
}

.subscription-button {
  max-width: 200px;
  height: 60px;
  cursor: pointer;
}
.content-container {
  padding-left: 72px;
  padding-right: 72px;
}
.button:hover {
  background-color: #615048;
}
.button:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  background-color: #615048;
}
.button:active {
  box-shadow: none;
  background-color: #615048;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.3);
}
.display-search-result-item > .button:focus-visible,
.display-search-result-item > .button:hover {
  box-shadow: none;
  box-shadow: inset 0 0 0 2px #83b3d3;
  background-color: transparent;
}
.display-search-result-item > .button:active {
  box-shadow: inset 0 0 0 2px #000000;
}
.apply-button:hover,
.add-to-favorites-button:hover,
.subscription-button:hover,
.show-more:hover,
.pagination-link:hover {
  background-color: #68a2ca;
}
.in-favorites:hover {
  background-color: #6c9e42;
}
.pagination-link:focus-visible {
  box-shadow: inset 0 0 0 3px #756257;
  background-color: #68a2ca;
}
.show-more:focus-visible,
.add-to-favorites-button:focus-visible {
  box-shadow: inset 0 0 0 3px #756257;
  background-color: #68a2ca;
}
.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.pagination-current:hover,
.pagination-current:active,
.pagination-current:focus-visible {
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  outline: none;
}
.pagination-separator:hover,
.pagination-separator:active,
.pagination-separator:focus-visible {
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  outline: none;
}
.apply-button:focus-visible {
  box-shadow: inset 0 0 0 3px #ffffff;
  background-color: #68a2ca;
}
.reset-button:hover {
  background: none;
  color: rgba(255, 255, 255, 0.6);
}
.reset-button:active {
  box-shadow: none;
  background: none;
  color: rgba(255, 255, 255, 0.3);
}
.reset-button:active > .button-text {
  box-shadow: none;
}
.reset-button:focus-visible {
  outline: none;
  box-shadow: none;
  background: none;
}
.button-text {
  outline: none;
  padding: 3px 8px;
}
.reset-button:focus-visible > .button-text {
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.in-favorites:hover {
  background-color: #6c9e42;
}
.in-favorites:focus-visible {
  background-color: #6c9e42;
}
.in-favorites:active {
  background-color: #6c9e42;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}
.breadcrumbs-hotels-link {
  padding: 3px 8px;
  outline: none;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.breadcrumbs-link:active {
  opacity: 0.3;
}
.breadcrumbs-hotels-link:hover {
  opacity: 0.6;
}
.breadcrumbs-hotels-link:focus-visible {
  border-radius: 4px;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.breadcrumbs-hotels-link:active {
  opacity: 0.3;
}
.hotel-image-container {
  margin-right: 18px;
  border: solid 3px transparent;
  outline: none;
}
.hotel-image-container:hover {
  opacity: 0.6;
}
.hotel-image-container:focus-visible {
  opacity: 1;
  border-color: #83b3d3;
}

.hotel-image-container:active {
  opacity: 0.3;
  border-color: transparent;
}
.subscription-button:focus-visible {
  box-shadow: inset 0 0 0 3px #756257;
  background-color: #68a2ca;
}
.subscription-button:active {
  box-shadow: none;
  background-color: #68a2ca;
}
.apply-button:active {
  background-color: #68a2ca;
  box-shadow: none;
}
.hotel-card-title:hover {
  color: #756257;
}
.hotel-card-title:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  color: #756257;
}
.hotel-card-title:active {
  color: rgba(117, 98, 87, 0.3);
}
.social-button {
  border-radius: 10px;
  padding: 9px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.social-icon {
  fill: #83b3d3;
}
.social-button:hover,
.social-button:focus-visible,
.social-button:active {
  background: none;
}
.social-button:hover > .social-icon {
  fill: #68a2ca;
}
.social-button:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.footer-contacts-address-phone:hover {
  color: #756257;
}
.footer-contacts-address-phone:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.footer-contacts-address-phone:active {
  box-shadow: none;
  color: rgba(117, 98, 87, 0.3);
}

.htmlacademy-link:hover > .htmlacademy-icon,
.htmlacademy-link:focus-visible > .htmlacademy-icon,
.htmlacademy-link:active > .htmlacademy-icon {
  fill: #756257;
}
.htmlacademy-link:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.htmlacademy-link:active > .htmlacademy-icon {
  opacity: 0.3;
}
