@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  font-family: "PT Sans";
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  text-align: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;  
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  min-height: 100%;
}
.main-container{ 
  display: flex;
  flex-direction: column; 
  max-width: 1200px;
  flex: 1 0 auto;
 }
 
.page-header {
  color: #000000;
  background-color: #ffffff;
}
/*стилизацая меню*/
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 17px 0;
}

.page-header-container{
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 71px;
  padding-right: 72px;
}
.navigation-link .open-favorites {
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
}
.navigation-item-current-page {
  border-bottom: solid 2px #756257;
}
.navigation-list{  
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 0;
  margin: 0;
}
.navigation-logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.navigation-item{
  margin-right: 31px;
  padding: 19px 0;
  padding-bottom: 20px;
  padding-right: 2px;
}
.navigation-item:last-child{
  margin-right: 0;
}

.navigation-user{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigation-user-item{
  box-sizing: border-box;
}
.navigation-user-search{
  margin-top: 5px;
  margin-right: 21px;
}
.navigation-user-item-favorites{
  margin-top: 3px;
  margin-right: 33px;
}
.block-container{  
  position: relative;
}
.favorites-amount{
  font-size: 10px;
  font-weight: 400;
  line-height: 12.94px;
  color: #ffffff;
  background-color: #7DB54F;
  border: solid 4px #7DB54F;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  bottom: 31px;
}
.add-to-favorites-icon{
  position: absolute;
}
.open-favorites{
  background-color: #756258;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding: 9px 35px;
  padding-bottom: 8px;
  padding-left: 34px;
  border-radius: 4px;
  text-decoration: none;
}
/*PROMO*/

.logo-big-container{
  box-sizing: border-box;
  height: 485px;
  padding-top: 50px;
  background: url(../img/background/divider.svg) 50% 100% no-repeat, url(../img/background/index-background.jpg) no-repeat;
  background-size: 100%, cover;  
  background-color: #e5e5e5;  
}
.logo-big{
  display: block;
  margin: 0 auto;
}
.promo{
  padding-top: 62px;
  max-width: 720px;
  margin: 0 auto;  
}
.promo-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 32px;
}
.promo-five-reason {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin: 0;
  margin-bottom: 80px;
}
.button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
}
/* список преимуществ */

.advantages-item:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item:nth-child(even){
background-color: rgba(131, 179, 211, 0.2);  
}
.advantages-item:first-child{
  background-color: #83b3d3;
}
.advantages-item:nth-child(2){
  background-color: #83b3d3;
}
.advantages-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages-items-details{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
}
.advantage-with-img{
  grid-column: 1/-1;
  display: flex;  
  align-items: center;
  background-color: #83b3d3;
}
.advantages-item-selected{
  grid-area: 1/1/3/4;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}
.img-street{
  grid-column: 2/4;
}
.advantages-text-block{
  flex:1 0 auto;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-top: 98px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
}

.advantages-item-details{
  position: relative;
  box-sizing: border-box;
  max-width: 400px;
  min-height: 384px;
  padding-top: 161px;
  padding-bottom: 20px;
  padding-left: 85px;
  padding-right: 85px;
} 

.advantages-item-details:nth-child(odd){
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 28px
}
.advantages-items-details-icon{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.advantages-items-details-icon.house {
  width: 76px;
  height: 72px;
  top: 90px;
}
.advantages-items-details-icon.food {
  height: 74px;
  height: 70px;
  top: 92px;
}
.advantages-items-details-icon.souvenir {
  width: 64px;
  height: 76px;
  top: 86px;
}

.black-text {
  color: #000000;
}
.white-text {
  color: #ffffff;
}
.advantages-items-details {
  color: #333333;
  background-color: #ffffff;
}
.advantages-item-details-title {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 23px;
  margin-top: 0;
  margin-bottom: 19px;
}
.advantages-item-details-description{
  margin: 0;
}


.advantages-number {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}
.advantages-description{  
  margin: 0 auto;
}
/*секция поиска*/
.hotel-search{
  padding-top: 89px;
  
}
.hotel-search-title {
  max-width: 720px;  
  margin: 0 auto;
  margin-bottom: 31px;  
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.hotel-search-description {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 57px;  
  font-size: 22px;
  line-height: 26px;
}
.hotel-search-button {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 92px;  
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  height: 60px;    
}
/*подписка*/
.subscription {
  background-image: url(../img/background/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #83b3d3;
  padding-top: 94px;
  padding-bottom: 93px;
}
.subscription-title {  
  max-width: 720px;  
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
}
.subscription-description {
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 43px;
}  
.subscription-form{
  display: flex;
  justify-content: center;
}
.subscription-button {
  font-family: "PT Sans", sans-serif;
  width: 200px;  
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 10px 10px 0;
}
.subscription-field {
  width: 600px;
  height: 60px;   
  line-height: 26px;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px 0 0 10px;
}
/*footer*/
.page-footer{
  flex: 0 0 auto;
  padding: 0 72px;
  padding-top: 33px;
  padding-bottom: 29px;
}
.footer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.footer-social-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0;
}
.footer-social-item{
  margin-right: 29px;
}
.footer-contacts-address{
  max-width: 720px;
  text-align: center;
  font-style: normal;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  padding: 0px 229px;
  padding-bottom: 5px;
  text-decoration: none;
}
.htmlacademy-link{
  margin-left: auto;
}
/*работа с катологом*/


.filters-container {
  background-image: url(../img/background/catalog-background-top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e5e5e5;
  height: 408px;
  padding-top: 31px;
  padding-left: 71px;
  padding-right: 68px;
}
.filters-container-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  text-align: left;
  margin:0;
  margin-bottom: -4px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}
.breadcrumbs-home::before{
  display: inline-block;
  vertical-align: middle;
  padding-right: 11px;
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 .3 0 5.8V12h12V5.8L6 .3ZM11 11H1V6.2l5-4.5 5 4.5V11Z' fill='%23fff'/%3E%3Cpath d='M4 10h1V7.5h2V10h1V6.5H4V10Z' fill='%23fff'/%3E%3C/svg%3E");
}
.breadcrumbs-home:after{
  display: inline-block;
  content:url("data:image/svg+xml,%3Csvg width='5' height='8' viewBox='0 0 5 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3' clip-path='url(%23clip0_5:562)'%3E%3Cpath d='M4.8 3.60005L0.999999 0.200049C0.799999 4.88311e-05 0.399999 4.88311e-05 0.0999989 0.200049C-0.200001 0.400049 -0.100001 0.800049 0.0999989 1.00005L3.4 4.00005L0.199999 7.00005C-1.11759e-06 7.20005 -1.11759e-06 7.60005 0.199999 7.80005C0.199999 7.90005 0.499999 8.00005 0.599999 8.00005C0.699999 8.00005 0.899999 7.90005 0.999999 7.80005L4.8 4.40005C5.1 4.20005 5.1 3.80005 4.8 3.60005Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5:562'%3E%3Crect width='5' height='8' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  vertical-align: middle;
  padding-bottom: 2px;
  padding-right: 10px;
}
.catalog-fieldset{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  padding: 0;
  margin: 0;
  border: none;
}
.apply-button {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #83b3d3;
  width: 160px;
  height: 48px;
  border-radius: 4px;
}
.reset-button {
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  background-color: #83b3d3; /*clear this*/
  width: 160px;
  height: 48px;
  border-radius: 4px;
}
.catalog-filter{
  display: flex;
  justify-content: space-between;  
  text-align: left;
}
.catalog-filter-group-infrastructure{
  width: 150px;
  margin:0;
  padding: 0;
}
.catalog-filter-group-type-house{
  width: 145px;
  margin:0;
  padding: 0;
}
.catalog-filter-input {
  color: #ffffff;
  background-color: #83b3d3;  /*clear this*/
  border: solid 1px #ffffff;
  height: 48px;
}
input#max-price {
  border-radius: 0 4px 4px 0;
}
input#min-price {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.catalog-filter-group-price{
  width: 287px;
  margin:0;
  padding: 0;
}
.catalog-filter-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-price-input-container{
  display: flex;
}
.sorting-container{
  display: flex;
  
}
.list-view-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-left: 70px;
  padding-right: 73px;
}


.display-search-result{
  margin-left: auto;
  width: 160px;
}

.catalog-hotels {
  color: #ffffff;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 13px;
}
.control-label {
  line-height: 23px;
}

.filter-result {
  font-weight: 700;
  margin: 0;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.display-search-result{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.display-search-result-item{
  margin-right: 8px;
}
.display-search-button {
width: 48px;
height: 48px;
margin-right: 8px;
border: 2px solid #E6E6E6;
border-radius: 4px;
background-repeat: no-repeat;
background-position: center;
}
.mode-tile{
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0v6h4V0ZM16 0h-4v6h4V0ZM10 0H6v6h4V0ZM4 8H0v6h4V8ZM16 8h-4v6h4V8ZM10 8H6v6h4V8Z' fill='%23000'/%3E%3C/svg%3E");
}
.mode-slideshow{
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 12H0v2h16v-2ZM14 2v6H2V2h12Zm2-2H0v10h16V0Z' fill='%23000'/%3E%3C/svg%3E");
}
.mode-list{
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H0v2h2V0ZM16 0H4v2h12V0ZM2 4H0v2h2V4ZM16 4H4v2h12V4ZM2 8H0v2h2V8ZM16 8H4v2h12V8ZM2 12H0v2h2v-2ZM16 12H4v2h12v-2Z' fill='%23000'/%3E%3C/svg%3E");
}
.display-search-result-item:last-child{
  margin-right: 0;
}
.sorting-type{
  margin-right: 81px;
}
.sorting-type .select-control {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 23px;  
  height: 48px;
  width: 287px;
  color: #333333;
  border-radius: 4px;
}
.hotel-list-container{
  padding: 0 72px;
  padding-top: 39px;; 
}
.hotel-list{
  list-style: none;  
  padding: 0;
  margin: 0;
}
.hotel-card{
  display: grid;
  grid-template-columns: min-content auto auto;
  padding-top: 29px;
  padding-bottom: 31px;
  border-bottom: 1px solid #E6E6E6;
}
.hotel-card:first-child{
  border-top: 1px solid #E6E6E6;
}
.hotel-card-content-container{
  padding-right: 20px;
}
.hotel-type-price-container{
  display: grid;
  grid-template-columns: 160px 160px;
  row-gap: 31px;
  column-gap: 8px;
  text-align: start;
}
.hotel-card-buttons{
  display: flex;
}
.hotel-card-image{
  width: 180px;
  margin-right: 34px;
}

.hotel-card-raiting-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  padding-top: 5px;
}
.hotel-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin-top: -3px;
  margin-bottom: 4px;
  padding-left: 3px;
  text-align: left;
}
.hotel-type, .hotel-price {
  line-height: 23px;  
}

.hotel-detail-button{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #756257; 
  width: 99px;
  height: 18px;
  padding-top: 8px;
  padding-left: 27px;
  padding-bottom: 11px;
  border-radius: 4px;
  padding-right: 25px;
}
.add-to-favorites-button{
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #83b3d3;
  width: 104px;
  height: 18px;
  padding-right: 25px;
  padding-left: 31px;
  padding-top: 8px;
  padding-bottom: 11px;
  border-radius: 4px;
}
.in-favorites {
  background-color: #7db54f;
}
/*Звезды*/
.rating-stars {
  height: 17px;
}
.four-stars {
  width: 91px;
}
.three-stars {
  width: 68px;
}
.two-stars {
  width: 43px;
}

.rating {
  font-size: 16px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  width: 160px; 
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}
.show-more-container{
  border-bottom: solid 1px #E6E6E6;
  padding-top: 29px;
  padding-bottom: 29px;
}
.show-more {
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  background-color: #83b3d3;
  width: 625px;
  height: 55px;
  padding: 0;
  border-radius: 4px;
}
.pagination-container{
  display: flex;
  padding: 26px 72px;
  padding-bottom: 60px;
  align-items: center;
  
}
.pagination{
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 0;
  padding: 0;
}
.pagination-item{
  margin-right: 8px;
  width: 55px;
  height: 55px;
  background-color: #83b3d3;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
}
.pagination-item:last-child{
  margin-right: 0;
}
li .pagination-current{
  line-height: 52px;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}
.amount-cards-on-page {
  display: flex;
  line-height: 23px;
  margin-left: auto;
  align-items: center;
}
.amount-cards-label{
  margin-right: 51px;
  font-size: 18px;
}
.amount-cards-on-page .select-control{
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  width: 160px;
  height: 48px;
}
.subscription-catalog{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 135px;
}
.subscription-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
}
.subscription-catalog-description {
  display: block;
  max-width: 475px;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 48px;
}
.subscription-catalog-form-container{
  display: flex;
}

.subscription-button{  
  max-width: 200px;
  height: 60px;
}